/****************
 * MEDIA QUERIES
 ***************/

@media (max-height: 800px) {
  .dev-symbol {
    display: none;
  }
}

@media (max-width: 900px) {
  .header {
    margin-top: 30%;
  }
  .abt.row {
    /*-webkit-flex-direction: column;*/
    /*flex-direction: column;*/
  }
  .abt-col {
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 25px;
    height: 45%;
  }
  .abt-section {

  }
}

@media (max-width: 777px), (max-height: 700px) {
  .link {
    margin: 1rem; /* 20px 20px; */
  }
  .me-title {
    font-size: 3rem;
    padding-bottom: 1px;
  }
  .icon-wrapper {
    font-size: 4rem;
  }
  .dev-title {
    display: none;
    font-size: 2rem;
  }
  .header {
    margin-top: 20vh;
    position: relative;
  }
  .header-container {
  /*NOTE: margin-bottom must be recalculated
      * if other header layout changes are made */
    margin-bottom: calc(100vh - 7em - 20vh - 40px);
    /**
     * margin explanation:
     *  screenSize - (title + icon height)
     *   - header margin - ABOUT title
     */
  }
  .abt-col {
    margin-bottom: 1px;
    padding: 20px !important;
    /* need !important to override bootstrap */
  }
  .back-to-top {
    display: block;
  }
}

@media (max-width: 580px){
  .header {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: vertical;
  }
  .icon-wrapper {
    padding: 1px !important;
    /* need !important to override bootstrap */
  }
  .me {
    margin: auto auto;
    padding: 1px;
  }
  /*.abt-text {
    opacity: 0.2;
  }*/
}
